.grill {
  /* display: flex; */
  /* flex-wrap: wrap; */
  border-radius: 5px;
  /* padding-bottom: 2px; */
  border: 1px solid silver;
  background-color: whiteSmoke;
  box-sizing: content-box;
}
.grillBlock {
  display: flex;
  flex-direction: column;
}
.grillContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.textar {
  margin-top: 20px;
}
